@import "./mixins.scss";
@import "./loader.scss";
$main-color: rgb(192, 210, 210);
$second-color: rgba(235, 124, 218, 0.6);

html,
body,
ul,
h1 {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.header {
  background-color: $main-color;
  color: $second-color;
  .title {
    padding: 1rem;
  }
}

.blog {
  display: flex;
  .post {
    padding: 2rem;
    font-size: 1.6180339rem;
    flex-shrink: 1;
    flex-basis: 66vw;
    .author {
      border: 1px dotted $main-color;
      padding: 0 2rem;
      background-color: $second-color;
    }
  }
  .list {
    padding-right: 1rem;
    .title {
      max-width: 33vw;
      @include ellipsis();
      font-size: 1.6180339rem;
      line-height: 2.71828rem;
      padding-left: 1rem;
      border: 1px transparent;
      flex-shrink: 0;
      flex-basis: 33vw;
      &:nth-of-type(n) {
        background-color: $second-color;
        &:hover {
          background-color: $main-color;
          color: $second-color;
          cursor: pointer;
        }
      }
    }
  }
}

.blog .post .comments .comment {
  border: 1px dotted;
  background-color: $second-color;
  padding: 0 1rem 0 2rem;
  margin-bottom: 1rem;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  @include load;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
